@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-stone-50 text-stone-900 antialiased;
  max-width: 100vw;
  min-height: 100vh;
}
